
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');



body{
    background-color: #8C52FF;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    margin-bottom: 50px;
}
div{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    border: none;
    
   
}
h1{
    font-family: "Stardos Stencil", system-ui;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500px;
}

input{
    font-family: "Stardos Stencil", system-ui;
   border-radius: 10px;
    height: 20px;
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
}
button{
    font-family: "Stardos Stencil", system-ui;
    display: block;
    padding: 45px;
    width:100%;
    height: 25px;
    cursor: pointer;
    background-color: #8C52FF;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500px;
}

button:hover {
    background-color: #7030D8;
    text-decoration: underline;
}

